#mot {
  font-size: 40px;
  margin-bottom: 20px;
}

#lettres {
  margin-bottom: 20px;
}

#restart {
  display: block; /* affiche le bouton en tant que bloc pour lui permettre de prendre la largeur maximale disponible */
  margin: 0 auto; /* centre le bouton horizontalement */
  margin-top: 20px; /* ajoute une marge en haut pour l'espace */
}

#pendu {
  width: 200px;
  height: 400px;
  margin: 0 auto;
  position: relative;
}

#corps {
  position: absolute;
  top: 80px;
  left: 70px;
}

#tete {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #000;
}

#bras-gauche,
#bras-droit {
  width: 4px;
  height: 60px;
  background-color: #000;
  position: absolute;
  top: 110px;
}

#bras-gauche {
  left: 30px;
}

#bras-droit {
  right: 30px;
}

#jambe-gauche,
#jambe-droite {
  width: 4px;
  height: 80px;
  background-color: #000;
  position: absolute;
  top: 170px;
}

#jambe-gauche {
  left: 45px;
  transform: rotate(45deg);
}

#jambe-droite {
  right: 45px;
  transform: rotate(-45deg);
}

#potence {
  width: 4px;
  height: 150px;
  background-color: #000;
  position: absolute;
  top: 30px;
  left: 130px;
}
button {
  background-color: #4caf50; /* couleur de fond */
  color: white; /* couleur de texte */
  border: none; /* supprime la bordure */
  padding: 10px 20px; /* ajoute un padding autour du texte */
  margin: 5px; /* ajoute une marge autour de chaque bouton */
  font-size: 16px; /* taille de police */
  cursor: pointer; /* affiche un curseur au survol */
  border-radius: 5px; /* ajoute des coins arrondis */
  transition: background-color 0.3s ease; /* animation de transition pour le changement de couleur de fond */
}

button:hover {
  background-color: #3e8e41; /* couleur de fond au survol */
}
