/*===================================== 
	GLOBAL
======================================*/
p a {
    color: #5e039e;
}

li a {
    color: #5e039e;
}

.violet {
    color: #5e039e;
}

.photoswipe {
    cursor: pointer;
}

/*===================================== 
	HEADER
======================================*/
.header-nav .nav>li .sub-menu li a.red {
    color: #d93223 !important;
}


/*===================================== 
	ACCUEIL
======================================*/
#page-accueil .my-section-head {
    margin-bottom: 0;
}

#page-accueil .btn-filter-wrap {
    margin: 30px 0;
}

#page-accueil .wrap0 {
    text-align: center;
}

#page-accueil .wrap0 .btn-active {
    color: black;
}

#page-accueil .wrap0 a {
    cursor: pointer;
}

#page-accueil .wrap-all {
    display: none;
}

#page-accueil .wrap1,
.wrap2 {
    display: inline-block;
    vertical-align: top;
}

#page-accueil .wrap1 {
    width: 60px;
    text-align: right;
    line-height: 26px;
}

#page-accueil .wrap2 {
    width: calc(100% - 65px);
    text-align: left;
}

#page-accueil .wrap2 a {
    white-space: nowrap;
    color: black;
    line-height: 26px;
}

@media (min-width: 768px) {
    #page-accueil .wrap0 .btn-active {
        color: #5e039e;
    }

    #page-accueil .btn-filter-wrap {
        float: initial;
    }

    #page-accueil .btn-filter-wrap a {
        font-size: 13px;
    }

    #page-accueil .wrap-all {
        display: inherit;
    }

    #page-accueil .wrap0 {
        text-align: right;
    }

    #page-accueil .wrap1 {
        display: none;
    }

    #page-accueil .wrap2 {
        width: 100%;
        text-align: right;
    }
}

@media (min-width: 992px) {
    #page-accueil .btn-filter-wrap a {
        font-size: 15px;
    }
}

@media (min-width: 1200px) {
    #page-accueil .btn-filter-wrap a {
        font-size: 17px;
    }
}

#page-accueil .client-logo a {
    cursor: default;
}

/*@media (min-width: 1300px) {
	.btn-filter-wrap li { font-size: 14px; padding: 0 10px; }
}
@media (min-width: 1730px) {
	.btn-filter-wrap li { font-size: 18px; padding: 0 20px; }
}*/

/*===================================== 
	RÃ‰ALISATIONS
======================================*/
#realisations-page .masonry-filter.link-style>li a {
    font-size: 18px;
}

#realisations-page .masonry-filter>li a {
    font-size: 18px;
}

#realisations-page .masonry-filter>li.active a {
    font-size: 18px;
    color: #5e039e;
}

/*===================================== 
	RÃ‰ALISATION
======================================*/
@media (min-width: 992px) {
    #realisation-page .blog-post .grid-post li.myW33 {
        width: 33.3%;
    }
}

/*===================================== 
	CONTACT
======================================*/
.contact-page h3.h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #000;
    margin-bottom: 10px;
}

/*===================================== 
	CONTACT
======================================*/
#page-apropos .circle-block-outer .wt-icon-box-wraper:hover {
    cursor: default;
}

#page-apropos .icon-content p {
    word-break: normal;
}

@media (max-width: 768px) {
    #page-apropos .circle-block-outer {
        max-width: 400px;
        margin: 0 auto;
    }
}

/*===================================== 
	FOOTER - COOKIE
======================================*/
#cookie-popup {
    position: fixed;
    bottom: 0;
    z-index: 9999;
    width: 100%;
    padding: 10px 10px;
    background-color: rgba(146, 73, 197, .8);
    border-top: 1px solid #530392;
    color: white;
    text-align: center;
    font-size: 11px;
}

#cookie-popup a.ok .site-button-inr {
    color: #9249c5;
}

#cookie-popup a.voir {
    color: #42B8D4;
    text-decoration: underline;
}

/*===================================== 
	ADMIN
======================================*/
#admin-page .section-head {
    margin-bottom: 15px;
}

#admin-page .site-button.button-app {
    text-align: center;
}

/*===================================== 
	ADMIN -- ADD 
======================================*/
#add-realisation-page .brd1black,
#add-blog-page .brd1black {
    border: 1px solid #000;
    border-radius: 4px;
}

#add-realisation-page #info-texte,
#add-blog-page #info-texte {
    padding: 10px 30px 1px 30px;
    margin: 30px 0 10px 0;
    background-color: #dbf1f9;
    border-radius: 4px;
}

#add-realisation-page #info-texte span.color,
#add-blog-page #info-texte span.color {
    color: #e40a0a;
}

#add-realisation-page #info-texte span.code,
#add-blog-page #info-texte span.code {
    font-family: monospace;
}

#add-realisation-page span.maxlength,
#add-blog-page span.maxlength {
    color: #e40a0a;
    font-size: 10px;
    display: none;
}

@media only screen and (max-width: 991px) {

    #add-realisation-page .contact-one,
    #add-blog-page .contact-one {
        padding-right: 40px;
    }
}

/*===================================== 
	ADMIN -- ADD PHOTOS
======================================*/
#add-realisation-photos input[type=checkbox],
#add-realisation-photos input[type=radio] {
    opacity: 1 !important;
    margin-left: -20px !important;
}

#add-realisation-photos .item,
#add-blog-page .item {
    background-color: #f1f1f1;
    padding: 20px 0;
    border-radius: 4px;
}

#add-realisation-photos .brd1black,
#add-blog-page .brd1black {
    border: 1px solid #000;
    border-radius: 4px;
}

#add-realisation-photos .del,
#add-blog-page .del {
    float: right;
    color: #d93223;
}

@media (min-width: 768px) {

    #add-realisation-photos .w35px,
    #add-blog-page .w35px {
        width: 35px !important;
    }

    #add-realisation-photos .w80,
    #add-blog-page .w80 {
        width: calc(100% - 40px) !important;
    }

    #add-realisation-photos .w100,
    #add-blog-page .w100 {
        width: 100% !important;
    }

    #add-realisation-photos .contact-one,
    #add-blog-page .contact-one {
        padding-right: 40px;
    }
}

/*===================================== 
	ADMIN -- MODIF LISTE
======================================*/
#realisations-modif-liste .action,
#blog-modif-liste .action {
    float: right;
}

#realisations-modif-liste .action:hover,
#blog-modif-liste .action:hover {
    color: black;
}

#realisations-modif-liste .del,
#blog-modif-liste .del {
    color: #d93223;
}

#realisations-modif-liste .modif,
#blog-modif-liste .modif {
    color: #2361d9;
    margin-right: 30px;
}

#realisations-modif-liste .publish,
#blog-modif-liste .publish {
    color: green;
    margin-right: 30px;
}