#mot {
  font-size: 40px;
  margin-bottom: 20px;
}

#lettres {
  margin-bottom: 20px;
}

#restart {
  display: block; /* affiche le bouton en tant que bloc pour lui permettre de prendre la largeur maximale disponible */
  margin: 0 auto; /* centre le bouton horizontalement */
  margin-top: 20px; /* ajoute une marge en haut pour l'espace */
}

button {
  background-color: #4caf50; /* couleur de fond */
  color: white; /* couleur de texte */
  border: none; /* supprime la bordure */
  padding: 10px 20px; /* ajoute un padding autour du texte */
  margin: 5px; /* ajoute une marge autour de chaque bouton */
  font-size: 16px; /* taille de police */
  cursor: pointer; /* affiche un curseur au survol */
  border-radius: 5px; /* ajoute des coins arrondis */
  transition: background-color 0.3s ease; /* animation de transition pour le changement de couleur de fond */
}

button:hover {
  background-color: #3e8e41; /* couleur de fond au survol */
}
